@model List<OccurrencesClass>


<br />
<h3>All Topping List</h3>
<br />
<h2>Toppings @ViewData["Total"]</h2>
<br />
<hr />

@for(int x=0; x<Model.Count; x++)
{
    if(x<10)
    {
       <p><strong>@Model[x].Topping</strong></p>
       <p><strong>@Model[x].Quantity</strong></p>
       <hr />         
    } else
    {
       <p>@Model[x].Topping</p>
       <p>@Model[x].Quantity</p>
       <hr /> 
    }
}